<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./assets/lulu.ico">
    <link rel="bookmark" href="./assets/lulu.ico">
    <script src="./assets/lib/vue.min.js"></script>
    <script src="./assets/lib/p5.min.js"></script>
    <link rel="stylesheet" href="./assets/stye.css">
    <title>lulu-s</title>
</head>

<body>
    <div ref="app" id="app">
        <!-- <header>
            <h1>标题</h1>
        </header> -->
        <div class="loading" ref="loading">
            <h1> pending upgrade </h1>
            <div class="points">
                <span v-for="i in 3" class="point"></span>
            </div>
        </div>
        <!-- <section>
            <div v-for="v in shared.lists">
                <h3 class="title">{{v.title}}</h3>
                <div class="tags">
                    <span class="tag" v-for="t in v.tag">{{t}}</span>
                </div>
                <p class="detail">{{v.detail}}</p>
            </div>
        </section> -->
        <footer>
           <a href="https://github.com/lulu-s">@lulu-s</a>
        </footer>
    </div>
    <script src="./src/main.js"></script>
    <script src="./src/home/home.js"></script>
</body>

</html>