<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./vue.min.js"></script>
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body,
        html {
            width: 100%;
            height: 100%;
            background: lightpink;
        }

        #app {
            width: 100%;
            height: 100%;
            /* background: lightpink; */
        }
    </style>
</head>

<body>
    <div id="app">
        <header>
            <h1>标题</h1>
        </header>

        <section>
            <div v-for="v in lists">
                <h3>{{v.title}}</h3>
                <div>
                    <span v-for="t in v.tag">{{t}}</span>
                </div>
               
            </div>
        </section>
    </div>
</body>

</html>