<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work</title>
    <link rel="shortcut icon" href="./assets/lulu.ico">
    <link rel="bookmark" href="./assets/lulu.ico">
    <link rel="stylesheet" href="./assets/css/index.css">
    <link rel="stylesheet" href="./assets/css/tools.css">
    <script src="./assets/lib/vue.min.js"></script>
    <script src="./assets/lib/util.js"></script>
</head>

<body>
    <div id="app">

        <header>
            <a href="https://lulu-s.github.io/"><img class="target-logo" src="./assets/logo.png" alt=""></a>
            <div class="target-hamburger" @click="click_menu" @touchstart="click_menu">
                <ul class="hamburger" :class="{active: state.open_menu}" style="z-index: 5;">
                    <li class="bun"></li>
                    <li class="bun"></li>
                </ul>
            </div>
        </header>
        <main>
            <div class="container">
                <div class="col-md-4" v-for="(v, i) in shared.tools">
                    <div class="num">{{i < 10 ? "0" + i : i}}</div>
                            <h2>{{v.title}}</h2>
                            <div class="author">
                                <span>BY {{v.author}}</span><br>
                                <span>{{v.date}}</span>
                            </div>
                    </div>
                </div>
        </main>
        <section class="menu" :class="{active: state.open_menu, no_selected: !state.open_menu}">
            <h3 v-for="v in shared.menu" class="title" :class="{active: state.open_menu}">
                <a :href="v.url">{{v.title}}</a>
                <!-- <router-link :to="v.url">{{v.title}}</router-link> -->
            </h3>
        </section>
        <footer>
            <a href="https://github.com/lulu-s">@lulu-s</a>
        </footer>
    </div>


    <script>

        var state = {
            open_menu: false
        }


        var shared = {
            menu: [
                {
                    title: "Home",
                    url: "/index"
                },
                {
                    title: "Blog",
                    url: "/md"
                },
                {
                    title: "Viewer",
                    url: "/tools"
                },
                {
                    title: "Library",
                    url: "/ref"
                },
                {
                    title: "About",
                    url: "/about"
                }
            ],
            tools: [
                {
                    title: "Title",
                    date: "2020 - 11 - 11",
                    author: "Lulu"
                },
                {
                    title: "Title",
                    date: "2020 - 11 - 11",
                    author: "Lulu"
                },
                {
                    title: "Title",
                    date: "2020 - 11 - 11",
                    author: "Lulu"
                },
                {
                    title: "Title",
                    date: "2020 - 11 - 11",
                    author: "Lulu"
                },
                {
                    title: "Title",
                    date: "2020 - 11 - 11",
                    author: "Lulu"
                }
            ]
        }


        new Vue({
            el: '#app',
            data: { shared, state },
            methods: {
                // 点击菜单
                click_menu() {
                    state.open_menu = !state.open_menu;
                }
            }
        })
    </script>
</body>

</html>