/* 通用 */
* {
  margin: 0;
  padding: 0;
  font-family: PingFangSC-Semibold, sans-serif;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

html,
body {
  /* overflow: hidden; */
}

#app {
  /* overflow: hidden; */
}

::after,
::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: #333;
  transition: all 0.3s ease;
}

.no_selected {
  /* 禁止点击 */
  pointer-events: none;

  /* 禁止选中 */
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

body,
html {
  width: 100%;
  height: 100%;
  /* background: lightpink; */
}

#app {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.p5Canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

h1 {
  font-size: 4.5em;
  /* letter-spacing: 5px; */
  transition: all 0.3s ease;
}

/* header */
header {
  height: 150px;
}

/* logo */
.target-logo {
  width: 48px;
  height: 46px;
  position: absolute;
  top: 70px;
  left: 88px;
  display: block;
  z-index: 60;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* close */
.target-hamburger {
  width: 88px;
  height: 88px;
  position: fixed;
  top: 45px;
  right: 53px;
  cursor: pointer;
  z-index: 120;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hamburger {
  width: 18px;
  height: 18px;
  list-style: none;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -9px;
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1),
    color 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1),
    color 1s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
  color: white;
}

.hamburger .bun {
  width: 100%;
  height: 1.5px;
  background-color: #343434;
  position: absolute;
  top: 50%;
  margin-top: -0.75px;
  -webkit-transform: translateY(-3.75px) translateZ(0px);
  transform: translateY(-3.75px) translateZ(0px);
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1),
    background-color 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1),
    background-color 1s cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger .bun:nth-child(2) {
  -webkit-transform: translateY(3.75px) translateZ(0px);
  transform: translateY(3.75px) translateZ(0px);
}

.hamburger.active .bun {
  -webkit-transform: rotate(45deg) translateZ(0px);
  transform: rotate(45deg) translateZ(0px);
}

.hamburger.active .bun:nth-child(2) {
  -webkit-transform: rotate(-45deg) translateZ(0px);
  transform: rotate(-45deg) translateZ(0px);
}

.hamburger.active .bun {
  background-color: #e8a811;
}

.target-hamburger:hover .bun {
  /* background-color: #000; */
  background-color: #f3b933;

}

.hamburger::after {
  content: "";
  width: 44px;
  height: 44px;
  border-radius: 100%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  z-index: -10;
  transition: background-color 1s cubic-bezier(0.4, 0, 0.32, 1.26);
}

.hamburger.active::after {
  /* background: rgb(232 168 17 / 48%); */
  background: #e8e6e6
}

/* 菜单 */
.menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-flow: column;
  /* background: linear-gradient(45deg, #ffffff, #69635f); */
  background: #fff;
  z-index: 99;
}

.menu.active {
  opacity: 1;
}

.menu .title {
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
  transform: translateY(20px);
  letter-spacing: 2px;
  padding: 10px;
  margin-bottom: 20px;
  /* border-bottom: 1px solid #333; */
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.menu .title.active {
  opacity: 1;
  transform: translateX(0);
}

.menu .title:hover {
  /* color: #e8a811; */
  color: #000;
  transform: scale(1.1);
  transition: all 0.4s ease 0s;
}

.menu .title a::after {
  content: "";
  -webkit-transition: 1s opacity cubic-bezier(0.23, 1, 0.32, 1),
    1s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1);
  transition: 1s opacity cubic-bezier(0.23, 1, 0.32, 1),
    1s transform cubic-bezier(0.23, 1, 0.32, 1);
  height: 1.5px;
  width: 44px;
  background: currentColor;
  position: absolute;
  left: 50%;
  margin-left: -22px;
  bottom: 3px;
  -webkit-transform: scaleX(0) translateZ(0px);
  transform: scaleX(0) translateZ(0px);
  opacity: 0;
}

.menu .title:hover a::after {
  opacity: 1;
  -webkit-transform: scaleX(1) translateZ(0px);
  transform: scaleX(1) translateZ(0px);
}

.menu .title a:hover,
.menu .title:hover a {
  color: #e8a811;
}


/* @media (max-width: 991px) {
  .target-hamburger {
    top: 0px;
    right: 0px;
  }
  .target-logo {
    top: 33px;
    left: 33px;
    height: 35px;
  }
  header {
    height: 80px;
  }
} */

@media (max-width: 500px) {
  .target-hamburger {
    top: 0px;
    right: 0px;
  }

  .target-logo {
    top: 33px;
    left: 33px;
    height: 35px;
  }

  header {
    height: 80px;
  }
}

@media (min-width: 601px) and (max-width: 680px) {
  h1 {
    font-size: 3em;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2em;
  }
}

/* loading */
.loading {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.points {
  text-align: center;
}

.point {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #e8a811;
  display: inline-block;
  margin-right: 5px;
  margin-top: 1rem;
  transform: scale(0.5);
  animation: loading_slider 1s infinite alternate forwards cubic-bezier(0.4, 0, 1, 1);
}

.point:nth-child(2) {
  animation-delay: 0.5s;
}

.point:nth-child(3) {
  animation-delay: 1s;
}

@keyframes loading_slider {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

/* 底部 */
footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
  text-align: center;
  padding: 10px 0;
  text-transform: capitalize;
  box-sizing: border-box;


  color: rgb(31 29 29 / 24%);
}

footer a {
  text-decoration: none;
  font-size: 14px;
  color: rgb(31 29 29 / 34%);
  mix-blend-mode: difference;
}

footer a:hover {
  color: rgb(31 29 29 / 84%);
}



.message {}

.message .title {
  font-family: inherit;
  font-weight: 500;
  color: inherit;
  font-size: 2.5rem;
  text-align: center;
}

.message p {
  margin-top: 40px;
  line-height: 250%;
  font-weight: 350;
  text-align: center;
  font-size: 12pt;
  font-family: 'Helvetica-Neue', Helvetica, sans-serif;
}

a.link:hover {
  color: #fff;
  background: #e8a811;
}


svg.filter {
  position: absolute;
  margin-bottom: 1rem;
}
.cover-title {
  /* background: linear-gradient(#fff, #999, #ddd, #888);
  background-clip: text; */
  letter-spacing: 1rem;
  font-size: 5em;
  filter: url('#filter');
}

.cover-nav {
  display: flex;
  list-style: none;
}
.cover-nav li {
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
  background: #e8a811;
  margin-top: 1rem;
  /* filter: url('#filter'); */
}

.cover-nav li a {
  color: #fff;
}